extends layout

block content
  .card.simple-page
    h1 My Portfolio

    if !currentUser
      p
        | You must 
        a(href="/login") log in
        |  to view your portfolio.
    else if positions.length === 0
      p
        | You don’t own any stocks yet.
        | 
        a(href="/storefront") Browse the store
        |  to get started!
    else
      table.portfolio-table
        thead
          tr
            th Symbol
            th Name
            th Quantity
            th Avg Buy Price
            th Current Price
            th Change
            th Return %
            th Current Value
        tbody
          each pos in positions
            tr(class=pos.isUp ? 'price-up' : 'price-down')
              td
                a(href=`/stock/${pos.symbol}`)= pos.symbol
              td= pos.name
              td= pos.total_quantity
              td $#{pos.avg_purchase_price_str}
              td $#{pos.current_price_str}
              td= pos.priceChange_str
              td= pos.pctChange_str + '%'
              td $#{pos.totalValue_str}
